.modify-event-btn {
  border-radius: 5px;
  border: none;
  padding: 0.8em 5em;
  position: relative;
  overflow: hidden;
  color: #ffffff;
  background-color: #0097b2;
  transition: transform 0.6s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  margin: auto;
  margin-top: 5%;
  text-transform: uppercase;
}
