.modify-event-btn {
  border-radius: 5px;
  border: none;
  padding: 0.8em 5em;
  position: relative;
  overflow: hidden;
  color: #ffffff;
  background-color: #0097b2;
  transition: transform 0.6s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  margin: auto;
  margin-top: 5%;
  text-transform: uppercase;
}

.modify-event-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  align-items: center;
  margin: auto;
  width: fit-content;
  max-width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: rgba(255, 255, 255, 0.295);
  padding: 20px; /* Lisätty sisäistä tilaa */
  border-radius: 10px; /* Lisätty pyöristetyt reunat */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Lisätty varjo */
  text-align: center;
}

.old-event-value {
  font-weight: bold;
}

.own-event-item {
  justify-items: center;
  margin: auto;
  width: fit-content;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: rgba(
    255,
    255,
    255,
    0.421
  ); /* Lisätty läpinäkyvä taustaväri */
  padding: 20px; /* Lisätty sisäistä tilaa */
  border-radius: 10px; /* Lisätty pyöristetyt reunat */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Lisätty varjo */
}

.spacer-line {
  display: block;
  width: 100%; /* Viivan leveys */
  border-top: 1px solid black; /* Viivan tyyli ja väri */
  line-height: 1; /* Yhden rivin korkeus */
  margin: 10px 0; /* Viivan ylä- ja alapuolen marginaali */
}
