.text-box {
  display: inline-block;
  width: 80vw;
  max-width: 600px;
  height: inherit;
  background-color: #f0f0f0;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), 10px 10px 20px rgba(0, 0, 0, 0.2),
    15px 15px 30px rgba(0, 0, 0, 0.1);
}

.text-box div {
  white-space: pre-wrap;
}
