.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  align-items: center;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 40%;
  background-color: rgba(255, 255, 255, 0.421); /* Lisätty läpinäkyvä taustaväri */
  padding: 20px; /* Lisätty sisäistä tilaa */
  border-radius: 10px; /* Lisätty pyöristetyt reunat */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Lisätty varjo */
}

.register-form {
  display: flex;
  margin: auto;
  text-align: center;
  width: 100%;
  justify-content: center;
}

.error-forms {
  color: red;
}
.btn {
  margin: auto;
  margin-top: 2%;
}

.btn:hover {
  background-color: #ffffff;
  color: #0097b2;
  border: 2px solid #0097b2;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.forms-btn {
  border-radius: 5px;
  border: none;
  padding: 0.8em 5em;
  position: relative;
  overflow: hidden;
  color: #ffffff;
  background-color: #0097b2;
  transition: transform 0.6s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  margin: auto;
  margin-top: 5%;
  text-transform: uppercase;
}
.forms-btn span {
  position: relative;
  z-index: 1; /* Tuo teksti napin päälle */
}
.forms-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #007891; /* Muuta väriä tähän */
  color: #ffffff;
  transition: width 0.6s ease-in-out; /* Säädä täyttymisnopeutta */
}

.forms-btn:hover::before {
  width: 100%;
}


.loader {
  margin: auto;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#0097b2 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#0097b2);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: animaatio 1s infinite linear;
}
@keyframes animaatio{
  100%{transform: scale(1) rotate(1turn)}
}