.about-text-box {
  display: inline-block;
  width: 80vw;
  max-width: 620px;
  text-align: center;
  row-gap: 20px;
  padding: 20px;
}

.about-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  margin: auto;
  width: fit-content;
  max-width: 80dvw;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: rgba(255,
      255,
      255,
      0.421);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: brightness(110%);
}