.notification-container {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  width: 90%;
  max-width: 80vw;
}

.notification {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 20px 100px;
  font-size: large;
  font-weight: 600;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  max-width: 80vw;
  text-align: center;
}

.notification.success {
  background-color: #d4edda;
  color: #0b3c17;
  border: 3px solid rgb(132, 155, 124);
}

.notification.error {
  background-color: #f8d7da;
  color: #000000;
  border: 2px solid rgba(255, 48, 48, 0.291);
}

.notification.warning {
  background-color: #fff3cd;
  color: #856404;
}
