.partner-choises-view {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    margin: auto;
    width: fit-content;
    max-width: 80dvw;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgba(255,
            255,
            255,
            0.421);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}