.account-view {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  margin: auto;
  width: fit-content;
  max-width: 100vw;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: rgba(
    255,
    255,
    255,
    0.421
  ); /* Lisätty läpinäkyvä taustaväri */
  padding: 20px; /* Lisätty sisäistä tilaa */
  border-radius: 10px; /* Lisätty pyöristetyt reunat */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Lisätty varjo */
}

.information-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
  justify-content: space-between;
}

/* Mobiilinäkymä */
@media (max-width: 500px) {
  .information-row {
    flex-direction: column;
  }
}

.information {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
}

.link-btn {
  border-radius: 10px;
  background-color: #0097b2;
  color: #ffffff;
  text-align: center;
  font-size: 1em;
  border: 2px solid transparent;
  font-family: inherit;
  font-weight: 500;
  text-transform: uppercase;
  padding: 8px;
  width: 120px;
  transition: all 0.2s;
  cursor: pointer;
  margin-left: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.delete-account-btn {
  width: 20;
  height: 20;
  opacity: 1;
  background-color: rgb(255, 61, 61);
  width: 200px;
}
.delete-account-btn:hover {
  color: rgb(0, 0, 0);
}
