.event-map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 80vw;
  height: 100vh;
  padding: 0;
  top: 0;
}

/* Mobiilinäkymä: 100vw leveys */
@media (max-width: 800px) {
  .event-map-container {
    width: 100vw;
  }
}

.pikapainikkeet {
  display: flex;
  align-items: stretch;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  height: 60vh;
}

.pika-painike {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.pika-painike:active {
  animation: bounce 0.2s ease-in-out;
}

.containerforshortcutbuttons {
  position: fixed;
  bottom: 20px; /* Sijoitetaan alareunaan */
  left: 50%;
  transform: translateX(-50%); /* Keskittää vaakasuunnassa */
  background-color: #0097b28d;
  padding: 10px 20px;
  border-radius: 20px; /* Pyöristetyt kulmat */
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}

/* Avattava paneeli */
/* Paneelin kontti */
.category-panel {
  position: fixed;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  max-width: 600px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  background: rgba(0, 151, 178, 0.281);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1050;
}

/* Paneelin avoin tila */
.category-panel.open {
  max-height: 70vh;
}

/* Kategorian nappilista */
.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  overflow-y: auto;
  max-height: 70vh;
}

/* Yksittäinen kategoria-painike */
.category-item {
  width: 60px;
  height: 60px;
  border-radius: 30%;
  background: rgba(255, 255, 255, 0.667);
  background-size: cover;
  border: none;
  cursor: pointer;
  transition: filter 0.3s ease;
}

/* Aktiivinen kategoria: Läpinäkyvä punainen peite */
.category-item.active {
  filter: brightness(0.5) sepia(1) hue-rotate(90deg) saturate(500%);
}

.shortcutbuttons {
  display: flex;
  flex-direction: row; /* Asettaa painikkeet riviin */
  gap: 20px; /* Väli painikkeiden välillä */
}

.shortcut-button {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.shortcut-button:active {
  animation: bounce 0.2s ease-in-out;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
