.containerforshortcutbuttons {
  position: fixed;
  bottom: 20px;
  /* Sijoitetaan alareunaan */
  left: 50%;
  transform: translateX(-50%);
  /* Keskittää vaakasuunnassa */
  background-color: #0097b28d;
  padding: 10px 20px;
  border-radius: 20px;
  /* Pyöristetyt kulmat */
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  gap: 8px;
  z-index: 1001;
}

.event-map-container {
  position: relative;
  display: block;
  margin: auto;
  width: 80vw;
  height: 100dvh;
  padding: 0;
  top: 0;
}

/* Mobiilinäkymä: 100vw leveys */
@media (max-width: 800px) {
  .event-map-container {
    width: 100vw;
  }
}

.pikapainikkeet {
  display: flex;
  align-items: stretch;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  height: 60vh;
}

.pika-painike {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  border: none;
  background-color: #ffffff00;
  backdrop-filter: brightness(200%);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pika-painike-refresh {
  width: 48px;
  height: 48px;
  border: none;
  backdrop-filter: brightness(200%);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Itse kuva erillisenä divinä */
.refresh-image {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Pyörimisefekti */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotate-animation {
  animation: rotate 0.7s linear;
}

.pika-painike:active {
  animation: bounce 0.2s ease-in-out;
}

/* Avattava paneeli */
/* Paneelin kontti */
.more-panel {
  position: fixed;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  max-width: 600px;
  max-height: 0;
  overflow: hidden;
  opacity: 0.7;
  transition: max-height 0.5s ease;
  background: rgba(0, 151, 178, 0.281);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1050;
}

/* Paneelin avoin tila */
.more-panel.open {
  max-height: 70vh;
  opacity: 1;
}

/* ... nappilista */
.more-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  overflow-y: auto;
  max-height: 70vh;
}

/* Yksittäinen painike */
.more-item {
  width: 60px;
  height: 60px;
  border-radius: 30%;
  background: rgba(255, 255, 255, 0.667);
  background-size: cover;
  border: none;
  cursor: pointer;
  transition: filter 0.3s ease;
}

/* Aktiivinen kategoria: Läpinäkyvä vihreä peite */
.more-item.active {
  filter: brightness(0.5) sepia(1) hue-rotate(90deg) saturate(500%);
}

.club-selection-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Avattava paneeli */
/* Paneelin kontti */
.category-panel {
  position: fixed;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  max-width: 600px;
  max-height: 0;
  padding-bottom: 0px;
  overflow: hidden;
  opacity: 0.7;
  transition: max-height 0.5s ease;
  background: rgba(0, 151, 178, 0.281);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1050;
}

/* Paneelin avoin tila */
.category-panel.open {
  max-height: 70vh;
  opacity: 1;
  padding-bottom: 10px;
}

.category-list-container {
  display: flex;
  flex-direction: column;
  align-items: anchor-center;
}

/* Kategorian nappilista */
.category-list {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  gap: 10px;
  padding: 20px;
  max-height: 60vh;
}

/* Yksittäinen kategoria-painike */
.category-item {
  width: 60px;
  height: 60px;
  border-radius: 30%;
  background: rgba(255, 255, 255, 0.667);
  background-size: cover;
  border: none;
  cursor: pointer;
  transition: filter 0.3s ease;
}

/* Aktiivinen kategoria: Läpinäkyvä punainen peite */
.category-item.active {
  filter: brightness(0.5) sepia(1) hue-rotate(90deg) saturate(500%);
}

/*Kategorian hakupalkki*/
.category-search {
  max-width: 100%;
  min-width: 50%;
  padding: 4px;
  border-radius: 7px;
  border-width: 1px;
  backdrop-filter: blur(10px);
  background-color: #fefefed3;
}

/* Avattava paneeli */
/* Paneelin kontti */
.time-panel {
  position: fixed;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  max-width: 600px;
  max-height: 0;
  opacity: 0.7;
  transition: max-height 0.5s ease;
  background: rgba(0, 151, 178, 0.281);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1050;
}

/* Paneelin avoin tila */
.time-panel.open {
  max-height: 70vh;
  opacity: 1;
  max-width: fit-content;
  margin: auto;
}

.time-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20px;
  overflow-y: auto;
  max-height: fit-content;
  max-width: fit-content;
  overflow: visible;
}

.time-list-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Avattava paneeli */
/* Paneelin kontti */
.time-select-panel {
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  padding: 20px 20px;
  max-width: 600px;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease;
  background: rgba(0, 151, 178, 0.281);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1050;
  overflow: hidden;
}

/* Paneelin avoin tila */
.time-select-panel.open {
  max-height: 70vh;
  opacity: 1;
  overflow: hidden;
  max-width: fit-content;
  margin: auto;
  gap: 20px;
}

.time-select-item {
  border-radius: 10px;
  border: 2px solid transparent;
  font-size: 1em;
  font-weight: 500;
  color: #ffffff;
  background-color: #0097b27d;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  margin: auto;
  width: fit-content;
  min-width: 50px;
  height: fit-content;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  gap: 2px;
}

.time-shortcut-button {
  border-radius: 10px;
  border: 2px solid transparent;
  font-size: 1em;
  font-weight: 500;
  color: #ffffff;
  background-color: #0097b27d;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  margin: auto;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.shortcut-button {
  border-radius: 10px;
  border: 2px solid transparent;
  font-size: 1em;
  font-weight: 500;
  color: #ffffff;
  background-color: #0097b27d;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  margin: auto;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

#translate-button-container {
  justify-items: left;
}

/*Käytetään !important ohittamaan leafletin omat css-määrittelyt */
.rmdp-wrapper {
  border-radius: 20px !important;
  background-color: rgba(255, 255, 255, 0.253) !important;
  backdrop-filter: blur(10px);
}

.rmdp-calendar {
  background-color: rgba(91, 230, 255, 0.151);
  border-radius: 20px;
}

.rmdp-year-picker,
.rmdp-month-picker {
  background-color: rgba(193, 246, 255, 0.945) !important;
  backdrop-filter: blur(10px);
}

.time-shortcut-button:active,
.shortcut-button:active {
  animation: bounce 0.2s ease-in-out;
}

.leaflet-container {
  background-color: transparent;
  backdrop-filter: brightness(200%);
}

.leaflet-control-zoom-in {
  border-radius: 3px;
  background-color: transparent;
  backdrop-filter: brightness(200%);
}

.leaflet-control-zoom-out {
  border-radius: 3px;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: none;
  background-color: transparent;
  backdrop-filter: brightness(200%);
}

.leaflet-control-layers-expanded {
  background-color: rgba(255, 255, 255, 0.806) !important;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.quick-time-select-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: auto;
  padding-bottom: 20px;
  min-height: fit-content;
  max-height: fit-content;
  overflow: hidden;
}

/* Mobiilinäkymä: landscape ja näytön korkeus */
@media (orientation: landscape) and (max-height: 550px) {
  .quick-time-select-container {
    max-height: 20vh;
    min-height: auto;
    overflow: scroll !important;
  }
}

.quick-time-select {
  width: 80%;
  background-color: #0d7b548d;
}

.quick-time-select.selected {
  background-color: #4caf50;
  /* Valittu painike saa vihreän värin */
  color: white;
}

.clear-button:hover,
.quick-time-select:hover {
  background-color: #ddd;
  /* Hover-efekti */
}

.clear-button {
  width: 80%;
  background-color: rgba(255, 45, 45, 0.653);
}

.leaflet-control-zoom {
  background-color: transparent !important;
  backdrop-filter: brightness(200%) !important;
}

.leaflet-control-zoom-in {
  background-color: transparent !important;
  backdrop-filter: brightness(200%) !important;
}

.leaflet-control-zoom-out {
  background-color: transparent !important;
  backdrop-filter: brightness(200%) !important;
}

.leaflet-control-geocoder-icon {
  background-color: transparent;
  backdrop-filter: brightness(200%);
  background-image: url("/magnifyingGlassCropped.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 48px !important;
  height: 48px !important;
}

.leaflet-control-geocoder-expanded {
  background-color: rgba(255, 255, 255, 0.873) !important;
}

.leaflet-control-layers-toggle {
  width: 48px !important;
  height: 48px !important;
}

/* Mobiilinäkymä: 100vw leveys */
@media (max-width: 800px) {
  .pika-painike {
    width: 43px;
    height: 43px;
  }
}

@media (max-width: 500px) {
  .pika-painike {
    width: 40px;
    height: 40px;
  }
}