.partner-choises-view {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    margin: auto;
    width: fit-content;
    max-width: 80dvw;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgba(255,
            255,
            255,
            0.421);
    /* Lisätty läpinäkyvä taustaväri */
    padding: 20px;
    /* Lisätty sisäistä tilaa */
    border-radius: 10px;
    /* Lisätty pyöristetyt reunat */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Lisätty varjo */
}