.frontpage {
  flex: 1; /* Ottaa kaiken käytettävissä olevan tilan */
  display: flex;
  flex-direction: column;
  align-items: center; /* Keskittää sisällön vaakasuunnassa */
}

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1; /* Ottaa kaiken käytettävissä olevan tilan */
  width: 100%;
  gap: 20px;
  margin: auto;
}

.buttons-container {
  display: flex;
  gap: 15px;
  margin: auto;
}
