.frontpage {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Keskitetään myös pystysuunnassa */
  width: 100%;
  height: max-content;
  gap: 10px;
  padding: 10px 0;
  margin: auto;
}

.image-wrapper {
  position: relative; /* Mahdollistaa placeholder-tekstin sijoittamisen kuvan päälle */
  display: flex; /* Käytetään flexboxia */
  justify-content: center; /* Keskitetään vaakasuunnassa */
  align-items: center; /* Keskitetään pystysuunnassa */
  max-width: 100%;
}

.placeholder {
  cursor: pointer;
  text-align: center;
  max-width: 60%; /* 50% kuvan leveydestä */
  width: auto; /* Sallii tekstin skaalautumisen */
  overflow: hidden;
  position: absolute; /* Sijoitetaan paikkamerkki kuvan päälle */
  top: 50%; /* Keskitetään pystysuunnassa */
  left: 50%; /* Keskitetään vaakasuunnassa */
  transform: translate(-50%, -50%); /* Korjataan keskitystä */
  color: rgb(63, 62, 62); /* Musta väri */
  font-size: 14px;
  font-weight: 600;
  padding: 8px;
  background-color: rgb(240, 240, 240, 0.5);
}

.map-image {
  display: block; /* Poistaa kuvan alapuolella olevan tyhjän tilan */
  position: static;
  left: 50%;
  max-width: 55vw;
  max-height: 50vh;
  border-radius: 5%;
}

.map-image:hover {
  cursor: pointer;
}

.text-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: fit-content;
  /*background-color: rgba(93, 172, 189, 0.424);*/
  padding: 2% 4%;
  border-radius: 10px;
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
}

.text-background2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  margin-top: 2%;
  width: fit-content;
  /*background-color: rgba(93, 171, 189, 0.424);*/
  padding: 2% 4%;
  border-radius: 10px;
  letter-spacing: 0.2px;
}

.text-background3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  margin-bottom: 2%;
  width: fit-content;
  /*background-color: rgba(93, 171, 189, 0.424);*/
  padding: 2% 4%;
  letter-spacing: 0.2px;
}

.welcome-text {
  color: rgb(255, 255, 255);
  font-style: italic;
  text-shadow: 4px 4px 8px rgb(0, 0, 0); /* Varjo: X, Y, sumeus, väri */
  padding: 0;
}

.frontpage-descriptive-text {
  color: white;
  text-shadow: 2px 2px 8px rgb(0, 0, 0); /* Varjo: X, Y, sumeus, väri */
  letter-spacing: 0.4px;
  padding: 0;
}

.frontpage-smaller-descriptive-text {
  color: white;
  font-size: large;
  text-shadow: 2px 2px 8px rgb(0, 0, 0); /* Varjo: X, Y, sumeus, väri */
  letter-spacing: 0.4px;
  padding: 0;
}

@media (max-width: 580px) {
  .frontpage-descriptive-text {
    font-size: medium;
  }
  .welcome-text {
    font-size: larger;
  }
  .text-background {
    display: flex;
    max-width: 70%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: fit-content;
    /*background-color: rgba(93, 172, 189, 0.424);*/
    border-radius: 10px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
  }
}
