.frontpage {
  flex: 1; /* Ottaa kaiken käytettävissä olevan tilan */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Keskittää sisällön pystysuunnassa */
  align-items: center; /* Keskittää sisällön vaakasuunnassa */
  width: 100%;
}

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1; /* Ottaa kaiken käytettävissä olevan tilan */
  width: 100%;
  gap: 20px;
  margin-top: 50px;
  padding: 8px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px; /* Lisää tilaa kartan ja nappien väliin */
}
