.frontpage {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Keskitetään myös pystysuunnassa */
  width: 100%;
  height: max-content;
  gap: 10px;
  padding: 10px 0;
  margin: auto;
}

.image-wrapper {
  position: relative; /* Mahdollistaa placeholder-tekstin sijoittamisen kuvan päälle */
  display: flex; /* Käytetään flexboxia */
  justify-content: center; /* Keskitetään vaakasuunnassa */
  align-items: center; /* Keskitetään pystysuunnassa */
  max-width: 100%;
}

.placeholder {
  cursor: pointer;
  max-width: 60%; /* 50% kuvan leveydestä */
  width: auto; /* Sallii tekstin skaalautumisen */
  overflow: hidden;
  position: absolute; /* Sijoitetaan paikkamerkki kuvan päälle */
  top: 50%; /* Keskitetään pystysuunnassa */
  left: 50%; /* Keskitetään vaakasuunnassa */
  transform: translate(-50%, -50%); /* Korjataan keskitystä */
  color: rgb(63, 62, 62); /* Musta väri */
  font-size: 10px;
  font-weight: 600;
  padding: 5px;
  background-color: rgb(240, 240, 240, 0.5);
}

.map-image {
  display: block; /* Poistaa kuvan alapuolella olevan tyhjän tilan */
  position: static;
  left: 50%;
  max-width: 60%;
  max-height: 60vh;
  border-radius: 5%;
}

.map-image:hover {
  cursor: pointer;
}
