:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#map {
  height: 400px;
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* Pääsääntöinen painikkeen tyyli */
button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgb(0, 162, 154);
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}
button:hover {
  background-color: #ffffff;
  color: rgb(0, 162, 154);
  border-color: rgb(0, 162, 154);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/*Takaisinpaluu painike*/
.back-btn {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgb(0, 162, 154);
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-btn:hover {
  background-color: #ffffff;
  color: rgb(0, 162, 154);
  border-color: rgb(0, 162, 154);
}
.back-btn:focus,
.back-btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/*rekisteröinnille ja kirjautumiselle painikkeet kesken*/
.register-btn,
button {
  border-radius: 20px;
}

.login-btn,
button {
  border-radius: 20px;
}
