:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* Pääsääntöinen painikkeen tyyli */
button {
  border-radius: 10px;
  border: 2px solid transparent;
  padding: 0.3em 0.6em;
  font-size: 1em;
  font-weight: 500;
  color: #ffffff;
  background-color: #0097b2;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  margin: auto;
}

button:focus,
button:focus-visible {
  outline: none;
}

/*Takaisinpaluun painike*/
.back-btn {
  border-radius: 10px;
  background-color: #0097b2;
  color: #ffffff;
  text-align: center;
  font-size: 1em;
  padding: 10px;
  border: 2px solid transparent;
  font-family: inherit;
  font-weight: 500;
  text-transform: uppercase;
  padding: 20px;
  width: 120px;
  transition: all 0.2s;
  cursor: pointer;
  margin: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.back-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.back-btn span:after {
  content: "\00ab";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.2s;
}

.back-btn:hover span {
  padding-left: 25px;
}

.back-btn:hover span:after {
  opacity: 1;
  left: 0;
  transition: background-color 0.25s, color 0.25s;
  align-items: center;
  justify-content: center;
}
.back-btn:hover {
  background-color: #ffffff;
  color: #0097b2;
  border: 2px solid #0097b2;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

/*Pikanäppäin painikkeet*/
.icon-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.icon-button img {
  width: 40px; /* Voit muuttaa kokoa tarpeen mukaan */
  height: 40px;
  display: block;
}

/*rekisteröinti ja kirjautumispainikkeiden container*/
.containerX {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

/*rekisteröinnille ja kirjautumiselle painikkeet kesken*/
.register-frontpage-btn {
  position: relative;
  padding: 15px 45px;
  background: #0097b2;
  border-radius: 10px;
  border: 2px solid #194480;
  outline: 2px solid #194480;
  outline-offset: -2px;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  transition: outline-offset 200ms ease;
}
.register-frontpage-btn:hover {
  color: #194480;
  background: #ffffff;
  outline-offset: 3px;
  border: 2px solid #194480;
  outline: 2px solid #194480;
}
.register-frontpage-btn:active {
  transform: scale(0.95);
}

.login-frontpage-btn {
  position: relative;
  padding: 15px 45px;
  background: #ffffff;
  border-radius: 10px;
  border: 2px solid #194480;
  outline: 2px solid #194480;
  outline-offset: -2px;
  font-size: 1.5rem;
  color: #194480;
  font-weight: 500;
  cursor: pointer;
  transition: outline-offset 200ms ease;
}
.login-frontpage-btn:hover {
  color: #ffffff;
  background: #0097b2;
  outline-offset: 3px;
  border: 2px solid #194480;
  outline: 2px solid #194480;
}
.login-frontpage-btn:active {
  transform: scale(0.95);
}

/*infopainikkeelle tyyli*/
.info-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5271ff;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /*varjo efekti*/
}

.info-btn:hover {
  background-color: #ffffff;
  color: #5271ff;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  border: 2px solid #5271ff;
}

/* Poistopainikkeelle tyyli */
.delete-btn {
  display: block;
  background-color: #db4437;
  width: 300px;
  height: 100px;
  line-height: 100px;
  margin: auto;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.delete-btn span,
.delete-btn .icon {
  display: block;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
}
.delete-btn span {
  width: 72%;
  line-height: inherit;
  font-size: 22px;
  text-transform: uppercase;
  left: 0;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.delete-btn span:after {
  content: "";
  background-color: #a53125;
  width: 2px;
  height: 70%;
  position: absolute;
  top: 15%;
  right: -1px;
}
.delete-btn .icon {
  width: 28%;
  right: 0;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.delete-btn .icon .fa {
  font-size: 30px;
  vertical-align: middle;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
}
.delete-btn .icon .fa-remove {
  height: 36px;
}
.delete-btn .icon .fa-check {
  display: none;
}
.delete-btn.success,
.delete-btn:hover {
  opacity: 0.9;
}
.delete-btn.success span,
.delete-btn:hover span {
  left: -72%;
  opacity: 0;
}
.delete-btn.success .icon,
.delete-btn:hover .icon {
  width: 100%;
}
.delete-btn.success .icon .fa,
.delete-btn:hover .icon .fa {
  font-size: 45px;
}
.delete-btn.success {
  background-color: #27ae60;
}
.delete-btn.success .icon .fa-remove {
  display: none;
}
.delete-btn.success .icon .fa-check {
  display: inline-block;
}
.delete-btn:hover .icon .fa-remove {
  height: 46px;
}
.delete-btn:active {
  opacity: 1;
}

/* Perustyylit käyttäjän muokattavalle tekstikentälle */
.input-field {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 1em;
  font-family: inherit;
  border: 2px solid #0097b2;
  border-radius: 10px;
  background-color: #ffffff;
  color: #1a1a1a;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  text-align: center;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin-top: 1.5%;
  margin-bottom: 3%;
}
.input-field:hover {
  border-color: #0097b2;
}
.input-field:focus {
  border-color: #0097b2;
  box-shadow: 0 0 8px #0097b2;
}
.input-field::placeholder {
  color: rgb(150, 150, 150);
  text-transform: lowercase;
}

.input-field.error {
  border: 2px solid #ff1500;
}

/*Pääasiallinen ei muokattava tekstikenttä*/
.input-field-locked {
  width: 100%;
  max-width: 400px;
  height: 20px;
  padding: 10px;
  font-size: 1.2em;
  font-family: inherit;
  text-transform: uppercase;
  border: 3px solid #0097b2;
  border-radius: 10px;
  background-color: #ffffff;
  color: #1a1a1a;
  text-align: center;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/*pääotsikko*/
h1 {
  font-size: large;
  line-height: 1.1;
  color: #1a1a1a;
}

/*asiateksti ja alaotsikko*/
h2 {
  font-size: medium;
  color: #0097b2;
}

/*pienempi asiateksti*/
h3 {
  font-size: small;
  color: #1a1a1a;
  margin-top: 5%;
}

h4 {
  font-size: small;
  color: #1a1a1a;
}

.fullpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh; /* Koko näkymän korkeus */
}

* {
  margin: 0;
  padding: 0;
}

/*kartta-oliolle container*/
/*
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
*/

/*yläpaneelille tyyli*/
.header {
  width: 100%;
  height: 80px; /* Muuta halutun kokoiseksi */
  background: rgba(240, 240, 240, 0.75);
  backdrop-filter: blur(10px); /* Lasimainen sumennus */
  color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#overlay {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(169, 169, 169, 0.47);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1001;
}

#overlay:hover {
  cursor: pointer;
}

#overlay {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  background: #d9d9d9c2;
  border-radius: 12%;
  padding-left: 12px;
  padding-right: 12px;
  z-index: 1001;
}

#overlay:hover {
  cursor: pointer;
}

/*kartta-oliolle tyyli karttanäkymään*/
.map {
  display: flex;
  position: absolute;

  background-color: lightgray; /* Väliaikainen taustaväri */
  height: 100vh;
  max-height: 100vh;
  width: 80vw;
  margin: auto;
  z-index: 1000;
}
/* Mobiilinäkymä: 100vw leveys */
@media (max-width: 800px) {
  .map {
    width: 100vw;
  }
}

.map-location-setter {
  display: flex;
  position: relative;
  flex: 1; /* Täyttää kaiken käytettävissä olevan tilan */
  background-color: lightgray; /* Väliaikainen taustaväri */
  width: 60vw;
}

/*ala paneelille tyyli*/
.footer {
  width: 100%;
  height: fit-content; /* Muuta halutun kokoiseksi */
  padding-top: 12px;
  padding-bottom: 12px;
  background: rgba(240, 240, 240, 0.75);
  backdrop-filter: blur(10px); /* Lasimainen sumennus */
  color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

/*alapaneelin sisällön tyyli*/
.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px; /* Lisää väliä elementtien välille */
}

.flag-selection {
  /* Lippuvalinnan tyylit */
  margin-right: 0px;
}

.footer-text {
  /* Tekstin tyylit */
  margin: 0 10px;
}

.info {
  /* Infokomponentin tyylit */
  margin-left: 0px;
}

.forgot-password-text {
  margin: 0 10px;
}

.password-input-container {
  position: relative; /* Jotta ikoni voidaan sijoittaa oikein */
  display: flex; /* Asettaa elementit vierekkäin */
  align-items: center; /* Keskitää elementit pystysuunnassa */
}

.password-toggle-button {
  position: absolute; /* Sijoittaa napin salasanakentän päälle */
  right: 10px;
  cursor: pointer;
  padding: 0;
}

.password-toggle-button span {
  font-size: 20px;
}

.password-input-container {
  position: relative; /* Jotta ikoni voidaan sijoittaa oikein */
  display: flex; /* Asettaa elementit vierekkäin */
  align-items: center; /* Keskitää elementit pystysuunnassa */
}

.password-toggle-button {
  position: absolute; /* Sijoittaa napin salasanakentän päälle */
  right: 10px;
  cursor: pointer;
  padding: 0;
}

.password-toggle-button span {
  font-size: 20px;
}
