:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* Pääsääntöinen painikkeen tyyli */
button {
  border-radius: 10px;
  border: 2px solid transparent;
  padding: 0.3em 0.6em;
  font-size: 1em;
  font-weight: 500;
  color: #ffffff;
  background-color: #0097b2;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
button:hover {
  background-color: #ffffff;
  color: #0097b2;
  border-color: #0097b2;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/*Takaisinpaluun painike*/
.back-btn {
  border-radius: 10px;
  background-color: #0097b2;
  color: #ffffff;
  text-align: center;
  font-size: 1em;
  padding: 10px;
  border: 2px solid transparent;
  font-family: inherit;
  font-weight: 500;
  text-transform: uppercase;
  padding: 20px;
  width: 120px;
  transition: all 0.2s;
  cursor: pointer;
  margin: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.back-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.back-btn span:after {
  content: "\00ab";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.2s;
}

.back-btn:hover span {
  padding-left: 25px;
}

.back-btn:hover span:after {
  opacity: 1;
  left: 0;
  transition: background-color 0.25s, color 0.25s;
  align-items: center;
  justify-content: center;
}
.back-btn:hover {
  background-color: #ffffff;
  color: #0097b2;
  border: 2px solid #0097b2;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

/*
.back-btn::before {
  content: "🢤";
  font-size: 2.5em;
  line-height: 1;
  align-items: center;
}
*/

.containerX {
  display: flex;
  gap: 10px;
}

/*
.back-btn::before {
  content: "🢤";
  font-size: 2.5em;
  line-height: 1;
  align-items: center;
}
*/

.containerX {
  display: flex;
  gap: 10px;
}

/*rekisteröinnille ja kirjautumiselle painikkeet kesken*/
.registerandlogin-btn {
  border-radius: 10px;
  border: 2px solid transparent;
  padding: 0.3em 0.6em;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #0097b2;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
button:hover {
  background-color: #ffffff;
  color: #0097b2;
  border-color: #0097b2;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Perustyylit käyttäjän muokattavalle tekstikentälle */
.input-field {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 1em;
  font-family: inherit;
  border: 2px solid #0097b2;
  border-radius: 10px;
  background-color: #ffffff;
  color: #1a1a1a;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-field:hover {
  border-color: #0097b2;
}
.input-field:focus {
  border-color: #0097b2;
  box-shadow: 0 0 8px #0097b2;
}
.input-field::placeholder {
  color: rgb(150, 150, 150);
  text-transform: uppercase;
}

/*Pääasiallinen ei muokattava tekstikenttä*/
.input-field-locked {
  width: 100%;
  max-width: 400px;
  height: 20px;
  padding: 10px;
  font-size: 1.2em;
  font-family: inherit;
  text-transform: uppercase;
  border: 3px solid #0097b2;
  border-radius: 10px;
  background-color: #ffffff;
  color: #1a1a1a;
  text-align: center;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/*pääotsikko*/
h1 {
  font-size: large;
  line-height: 1.1;
  color: #1a1a1a;
}

/*asiateksti ja alaotsikko*/
h2 {
  font-size: medium;
  color: #0097b2;
}

/*pienempi asiateksti*/
h3 {
  font-size: small;
  color: #1a1a1a;
}

.header {
  background-color: #f0f0f0; /* Esimerkkiväri */
  align-items: center;
  justify-content: stretch;
  text-align: center; /* Teksti keskelle */
  position: fixed; /* Jos haluat footerin pysyvän sivun alareunassa */
  top: 0; /* Jos haluat footerin pysyvän sivun alareunassa */
  width: 100%;
}

/*painikkeiden teksti*/
.buttonheader {
  font-size: large;
  color: #ffffff;
}

/*kartan kuvalle aloitusnäkymässä olio*/
.map-image {
  width: 90%; /* Skaalaa kuvan 90% näytön leveydestä */
  max-width: 1200px; /* Rajoittaa suurimmalla näytöllä */
  height: auto; /* Säilyttää mittasuhteet */
  object-fit: cover; /* Estää kuvan venymisen */
  display: block; /* Poistaa ylimääräiset marginaalit */
  margin: 20px auto; /* Keskittää kuvan vaakasuunnassa */
  border-radius: 10px; /* Pehmeät reunat (valinnainen) */
}

/*Kartalle olio*/
.map {
  width: 400px;
  height: 400px;
}

.footer {
  background-color: #d9d9d9;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
  text-align: center; /* Teksti keskelle */
  position: fixed; /* Jos haluat footerin pysyvän sivun alareunassa */
  bottom: 0; /* Jos haluat footerin pysyvän sivun alareunassa */
  width: 100%;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.flag-selection {
  /* Lippuvalinnan tyylit */
  margin-right: 0px;
}

.footer-text {
  /* Tekstin tyylit */
  margin: 0 10px;
}

.info {
  /* Infokomponentin tyylit */
  margin-left: 0px;
}

.forgot-password-text {
  margin: 0 10px;
}

.info-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5271ff;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /*varjo efekti*/
}

.info-btn:hover {
  background-color: #ffffff;
  color: #5271ff;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  border: 2px solid #5271ff;
}