.calendar_default_event_inner {
  background: #2e78d6;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 10pt;
  padding: 5px;
  opacity: 0.8;
}

.selected-highlight {
  background-color: rgb(231, 117, 117) !important;
  /* Voit vaihtaa haluamaasi väriin */
  opacity: 0.7 !important;
  /* Voit säätää läpinäkyvyyttä */
}

button.modal_default_ok {
  background-color: #2c9ad9 !important;
  margin-bottom: 10px;
}

button.modal_default_cancel {
  background-color: #b0a8a8 !important;
}

.calendar_default_rowheader_inner,
.calendar_default_cornerright_inner,
.calendar_default_corner_inner,
.calendar_default_colheader_inner,
.calendar_default_alldayheader_inner {
  color: rgb(0, 0, 0) !important;
  background: rgba(150, 248, 255, 0.224) !important;
}

.calendar_default_cell_inner {
  position: absolute;
  inset: 0px;
  border-right: 1px solid rgb(146, 146, 146) !important;
  border-bottom: 2px dotted rgba(177, 182, 176, 0.278) !important;
  background: rgba(255, 255, 255, 0.332) !important;

}

.field-calendar-container {
  display: flex;
  flex-direction: row;
}