.calendar_default_event_inner {
  background: #2e78d6;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 10pt;
  padding: 5px;
  opacity: 0.8;
}

.selected-highlight {
  background-color: rgb(231, 117, 117) !important; /* Voit vaihtaa haluamaasi väriin */
  opacity: 0.7 !important; /* Voit säätää läpinäkyvyyttä */
}
