.joined-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  align-items: center;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  width: fit-content;
  background-color: rgba(
    255,
    255,
    255,
    0.421
  ); /* Lisätty läpinäkyvä taustaväri */
  padding: 20px 30px; /* Lisätty sisäistä tilaa */
  border-radius: 10px; /* Lisätty pyöristetyt reunat */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Lisätty varjo */
}

/* Muokkaa tätä!*/
.event-container {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

/* MUOKKAA tätä!*/
.event-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: black;
  margin-bottom: 9px;
  margin-top: 9px;
  text-align: center;
  gap: 8px;
}

.event-item-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  color: black;
  background-color: rgba(
    255,
    255,
    255,
    0.421
  ); /* Lisätty läpinäkyvä taustaväri */
  padding: 20px; /* Lisätty sisäistä tilaa */
  border-radius: 10px; /* Lisätty pyöristetyt reunat */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Lisätty varjo */
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  gap: 8px;
  backdrop-filter: blur(10px);
}
